body{
    margin: 20px;
    padding: 20px;
}
.form{
    float: left;
    width: 40%;
    height: auto;
    background-color: aqua;
    /* margin-right: 5px; */
    text-align: center;
}
.form2{
    float: left;
    width: 40%;
    height: 175px;
    background-color: rgb(11, 146, 124);
    margin-left: 20px;
}
.form3{
    /* background-color: brown; */
    text-align: justify;
    margin-top: 70px;
    text-align: center;
}